body {
    height: 100vh;
    width: 100vw;
    background-color: #ccc;
    margin: 0;
}

#game-board {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#scoreKeeper {
    position: absolute;
    top: 8px;
    left: 16px;
}